

@import 
url("https://fonts.googleapis.com/css?family=Sofia");
@import 
url("https://fonts.googleapis.com/css?family=Raleway");
@import 
url("https://fonts.googleapis.com/css?family=Montserrat");




body{
    margin:0px;
    padding:0px;
    font-family: Montserrat;
    font-size: 15px;
       }


   
   
   
  .cv-container{
   width:100%;
   margin :auto;
   
   background-color:#ffffff;
   display:grid ;
   grid-template-columns:35% 65%;
   border:1px solid grey;
   border-radius:3px;
   padding:0px 0px 0px 0px;
   
     }

     .contact-details{
        color:white;
        background-color:rgba(0,0,0,0.9);
        text-align:center;
        line-height:28px;
        font-size: 10px;
        box-sizing: border-box;
        padding :40px 2px 5px 1px ;
        
          }

          .profile-details{
            font-size: 12px;
            color:black;
            background-color:#ffffff;
            text-align:justify ;
            line-height:30px;
            padding :20px 3px 2px 1px ;
            box-sizing: border-box;
            
              }
            
hr{border:1px solid black;
   }

   .skills-info{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:5px;
    align-content: center;
    padding:1px;
    background-color:white;
    border:1px solid grey;
    border-radius: 5px;
    justify-content:center;
 }
   
 .skills-info >div,button{
    
    color:white;
    background-color:steelblue;
    font-size:12px;
    text-align: center;
    padding:1px;
    box-shadow:0px 0px 2px 2px rgba(50, 50,50,0.8);
    border:2px solid white;
       }
   
  a{text-decoration: none;
    color:black;

    } 

   a:hover{
      cursor: pointer;
   }
 

 @media only screen and (min-width :768px){  /* LANDSCAPE TABLETS, LAPTOPS, DESKTOPS*/
    body{  }
   .cv-container{border:1px solid grey; padding:0px; }
                     }

                     @media only screen and (min-width :600px){  /* FOR LARGE PHONES AND TABLETS */
                        body{padding:0px 150px; font-size: 16px;}
                        .cv-container{border:1px solid grey; padding:0px;font-size: 18px; grid-template-columns:22% 78%;}
                        .contact-details{
                                         font-size: 15px;
                                         }
                        .profile-details{
                                         font-size: 18px;
                                        }

                        .skills-info{
                                      display:grid;
                                      grid-template-columns: auto auto auto auto;
                                      }
                                         }
                                         @media only screen and (max-width :600px){  /*FOR SMALL SCREEN PHONES */
                                          .spredsht{grid-column: 2/span 2;}  
                                          }
                                                            
                                                                       
                                                             